.linkk {
    color : black ;
    font-size: 20 ;
    margin: 0 200 0 0 ; 
    border-width: 6 ;
    border-color: black ;
   }
  body {
    background-color:#1D8348 ;
  }
  .linkk1 {
    background-color: pink ;
    padding: 20px 33px 33px 500px ;
    border-radius: 22px;
    font-size: 30
 }
  .imagen {
      border-style: groove;
      border-radius: 13px; 
  }